<div class="image">
    <div class="contents">
        <h6>Auto Rickshaw Insurance</h6>
        <h2 class="heading">Commercial Vehicle Insurance for your Auto Rickshaw/E-Rickshaw</h2>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12 col-12">
            <h1 class="txt-center">What is an Auto Rickshaw Insurance?</h1>
            <p class="para">As the name suggests, an auto rickshaw insurance is a type of <span class="txts">commercial
                    vehicle insurance policy</span>
                designed to protect and suit the needs of a three-wheeler in India. It’s mandatory for all auto owners
                to at least have a third-party auto rickshaw insurance to financially protect them from third-party
                liabilities and even, better to have a comprehensive auto rickshaw policy to cover for own damages that
                can be caused due to accidents, collisions, natural calamities, fires and other such mishaps.
                <span class="txts">Digit Insurance</span> provides auto owners with both such policies at, affordable
                and customized premium
                prices.
            </p>
            <h1 class="txt-center">Why should I buy Auto Rickshaw Insurance?</h1>
            <ul>
                <li class="list">
                    If you or your organization owns auto-rickshaws, it is mandatory by law to at least buy a Liability
                    Only Policy in place. This will financially cover you and your business in case your rickshaw (s)
                    causes damages and losses to third-party property, person or vehicle.
                </li>
                <li class="list">
                    If you use your auto rickshaw as a primary part of your business, it’s advised to purchase a
                    standard or <span class="txts"> comprehensive package policy</span> as it will protect your auto and
                    the owner-driver from any
                    losses caused due to natural calamities, accidents, terrorist activities, fires, thefts and
                    malicious acts, among other unforeseen circumstances
                </li>
                <li class="list">
                    An auto-rickshaw that comes with a valid insurance also assures your customers/passengers that
                    you’re a responsible business and are serious about your work.
                </li>
                <li class="list">
                    An insured auto-rickshaw ensures your business doesn’t face any unplanned losses or downtime, which
                    means you can instead spend your money and time towards other aspects of your business.
                </li>
            </ul>
        </div>
    </div>
</div>

<body>
    <div class="container">
        <h1 class="txt-center">What is Covered in Auto Rickshaw Insurance?</h1>
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <img style="width: 74%;padding-left: 26%;"
                        src="https://d2h44aw7l5xdvz.cloudfront.net/assets/img/auto-rickshaw-insurance-damage.svg"
                        alt="">
                    <h2 class="txt-c">Accidents</h2>
                    <div class="para">Damages caused to your auto rickshaw in case of an accident.</div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <img style="width: 70%;padding-left: 24%;"
                        src="https://d2h44aw7l5xdvz.cloudfront.net/assets/img/auto-rickshaw-insurance-theft.svg" alt="">
                    <h2 class="txt-c">Theft</h2>
                    <div class="para">Loss or damage of your auto rickshaw due to theft.</div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <img style="width: 70%;padding-left: 24%;"
                        src="https://d2h44aw7l5xdvz.cloudfront.net/assets/img/auto-rickshaw-insurance-fire.svg" alt="">
                    <h2 class="txt-c">Fire</h2>
                    <div class="para">Damages caused to your auto rickshaw due to a fire.</div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <img style="width: 70%;padding-left: 24%;"
                        src="https://d2h44aw7l5xdvz.cloudfront.net/assets/img/auto-rickshaw-insurance-disaster.svg"
                        alt="">
                    <h2 class="txt-c">Natural Disasters</h2>
                    <div class="para">Damages caused to your auto rickshaw due to any natural calamity</div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <img style="width: 61%;padding-left: 40%;"
                        src="https://d2h44aw7l5xdvz.cloudfront.net/assets/img/leg-cast.svg" alt="">
                    <h2 class="txt-c">Personal Accident</h2>
                    <div class="para">If your auto rickshaw meets with an accident, leading to an injury or death of you
                        or the driver using it.</div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <img style="width: 70%;padding-left: 24%;"
                        src="https://d2h44aw7l5xdvz.cloudfront.net/assets/img/auto-rickshaw-insurance-fire.svg" alt="">
                    <h2 class="txt-c">Third Party Losses</h2>
                    <div class="para">Any damages caused by your auto rickshaw to a third party or its passengers.</div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <img style="width: 70%;padding-left: 24%;"
                        src="https://d2h44aw7l5xdvz.cloudfront.net/assets/img/truck-insurance_towing.svg" alt="">
                    <h2 class="txt-c">Towing Disabled Vehicles</h2>
                    <div class="para">Any damages caused to your auto rickshaw in cases where it's being towed.</div>
                </div>
            </div>
        </div>
    </div>
</body>